<body>
<app-mainheader></app-mainheader>
<h1>WELCOME TO KOLLYBUSTERS</h1>
<br><br>
<br><br>
<div class="clearfix">
    <div class="img-container">
    <h2>Trending films</h2>
    <img src="assets/images/v.jpg" alt="Viduthalai" style="width:45%">
    <br>
    <a [routerLink]="['/trendingfilms']" class="button">Click</a> 
    </div>
    <div class="img-container">
    <h2>Upcoming films</h2>
    <img src="assets/images/jailer.jpg"  alt="Jailer" style="width:45%"> 
    <br>
    <a [routerLink]="['/upcomingfilms']" class="button">Click</a> 
    </div>
    <br><br>
    &nbsp; &nbsp;
    <div class="img-container">
    <h2>Best of 2022</h2>
    <img src="assets/images/vikram2.jpg" alt="Vikram" style="width:45%">
    <br>
    <a [routerLink]="['/bestof2022films']" class="button">Click</a> 
    </div>
    <div class="img-container">
    <h2>My Favourites</h2>
    <img src="assets/images/m1.jpg" alt="Maanadu" style="width:45%">
    <br>
    <a [routerLink]="['/myfavoritefilms']" class="button">Click</a> 
    </div>
    <br>
  </div>
  </body>