<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="login-container">
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <form (ngSubmit)="login()">
            <h1 style="color: white;">Sign In</h1>
            <br><br>
            <label for="uname" style="font-size: 30px;color: white;">Username</label>
            <input type="text" id="username" [(ngModel)]="username" name="username"  required>
            <br><br>
            <label for="password" style="font-size: 30px;color: white;">Password</label>
            <input type="password" id="password" [(ngModel)]="password" name="password"  required>
            <br><br>
            <input type="submit" class="fadeIn fourth" value="Login">
            </form>
            <div id="formFooter">
              
            </div>
        </div>
    </div>
</div>







