<style>
center {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
</style>
<div class="login-container">
   
    <div class="logo">KOLLY-BUSTERS</div>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img class="film" src="assets/images/film.png" alt=""  class="center" width="500" height="500"/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <br><br>
    <div class="desc">
        KollyBusters is a trusted site to know about the trending ,cult classic and upcoming Tamil Films.If you are a great fan of Kollywood Content you reached the correct place.
       
        <br><br>   
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a [routerLink]="['/login']" class="button">Login</a> 
    </div>

</div>
    